.main-container {
    display: flex;
}

.h1{
    font-size: medium;
}

.images img{
    height: 450px;
    width: 420px;
}
.images {
    margin-top: 40px;
    margin-right: 50px;
}
.others{
    margin-top: 70px;
    margin-left: 50px ;
    text-align: left;
}

.button h3{
    margin: 10px;
    font-weight: normal;
}

.for-word {
    
     margin-right: 10px;
}

.cart-design{
    background-color: red;
    color: white;
    padding: 10px;
}

.font{
    color: white;
}
.cart{
    margin-left: -320px;
    
}
.cart-design{
    border: 1px solid white;
    height: 50px;
    width: 100px;
    border-radius: 15px;
   
}